<!--<html>-->
<% var type = 'Add'; %>
<% if (course) { type = 'Edit'; } %>
<fieldset>
	<div>
		<legend id="addcourse" <% if (course) { %>cid="<%= course.courseID %>"<% } %>>
			<%= type %> Course
		</legend>
	</div>
	<div class="alert alert-info" style="padding:30px;display:none;">
		<h1 align="center"><%= type %> Course</h1>
	</div>
	<div class="form-horizontal" id="form">
		<div style="width:800px;margin:0 auto;min-height:400px;">
			<div class="control-group">
				<label class="control-label" for="cname">课程名称：</label>
				<div class="controls">
					<input style="margin-right:20px;" <% if (course) { %>value="<%= course.title %>"<% } %> type="text" id="cname" class="input-xlarge" placeholder="课程名称" />
					<span class="inline-block error-text" id="err"></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="a">添加题目：</label>
				<div class="controls">
					<input id="a" type="text" class="input-small" placeholder="题目编号" /> ~ 
					<input style="margin-right:20px;" id="b" type="text" class="input-small" placeholder="题目编号" />
					<span class="inline-block error-text" id="err2"></span>
				</div>
			</div>
			<% if (course) { %>
			<div class="control-group">
				<label class="control-label">已有<%= course.probs.length %>道题：</label>
				<div class="controls">
					<% course.probs.forEach(function(p, i){ %>
					<div class="tag-box">
						<a target="_blank" href="/problem?pid=<%= p %>"><%= p %></a>
						<%= pName[p] %>
						<span id="<%= p %>" class="del" title="删除此题">×</span>
					</div>
					<% }); %>
				</div>
			</div>
			<% } %>
		</div>
		<div class="form-actions" align="center">
			<a class="uibtn" href="javascript:;" id="submit">保存</a>
			<a class="uibtn" href="/course">返回</a>
			<% if (course) { %>
			<a class="uibtn" target="_blank" href="/onecourse/<%= course.courseID %>">预览课程</a>
			<% } %>
		</div>
	</div>
</fieldset>