<!--<html>-->
<% var F = "ABCDEFGHIJKLMNOPQRSTUVWXYZ", ProbNum = 1; %>
<% var str, time, cday, chour, cmin, name, cid = '', tp; %>
<% if (contest && clone == 0) { str = contest.startTime.split(' '); cday = parseInt(contest.len/1440); chour = parseInt(contest.len%1440/60); cmin = contest.len%1440%60; } %>
<% if (str && str[1]) time = str[1].split(':'); %>

<% if (contest && clone == 0) { name = 'Edit'; } else { name = 'Add'; } %>

<% if (clone == 1) { cid += '-'; tp = 1; } else if (contest) { tp = contest.type; } else { tp = type; }%>
<% if (contest) { cid += contest.contestID; } else { cid = '0'; } %>

<% var cname = 'Contest'; %>
<% if (tp == 3) cname = 'Course'; %>

<fieldset>
  <div><legend><%= name %> <%= cname %></legend></div>
  <div class="alert alert-info" style="padding:30px;display:none;">
    <h1 align="center"><%= name %> <%= cname %></h1>
  </div>
  <div class="form-horizontal" id="form"  cid="<%= cid %>" type="<%= tp %>" <% if (str && str[0]) { %>date="<%= str[0] %>"<% } %>>
    <div class="row-fluid" style="min-height:460px;">
      <div class="span6">
        <table class="table table-bordered thright" id="addcontest">
          <tr>
            <th>Title: </th>
            <td><input maxlength="50" type="text" class="input-xlarge"<% if (contest && clone == 0) { %>value="<%= contest.title %>"<% } %>></td>
          </tr>
          <tr>
            <th>Begin Time: </th>
            <td>
              <input id="datepicker" type="text" class="input-small">
              <input maxlength="2" type="text" class="input-mini" value="<% if (time && time[0]) { %><%= time[0] %><% } else { %>0<% } %>"> : 
              <input maxlength="2" type="text" class="input-mini" value="<% if (time && time[1]) { %><%= time[1] %><% } else { %>0<% } %>"> : 00
            </td>
          </tr>
          <tr>
            <th>Length: </th>
            <td>
              <input maxlength="2" type="text" class="input-mini" value="<% if (cday) { %><%= cday %><% } else { %>0<% } %>"> 天 
              <input maxlength="2" type="text" class="input-mini" value="<% if (chour) { %><%= chour %><% } else { %>5<% } %>"> : 
              <input maxlength="2" type="text" class="input-mini" value="<% if (cmin) { %><%= cmin %><% } else { %>0<% } %>"> : 00
            </td>
          </tr>
          <% if ((!contest && type != 2) || (contest && (clone == 1 || contest.type != 2))) { %>
          <tr id="password">
            <th>Password: </th>
            <td>
              <input type="password" class="input-large"><br/>
              <span class="text-info">&nbsp;Leave blank to make it Public.</span>
            </td>
          </tr>
          <% } else { %>
          <tr>
            <th></th>
            <td>
              <div class="my-radio">
                <input id="private" type="radio" value="1" name="p" <% if(contest && contest.password) { %>checked<% } %>>
                <label for="private" class="user-green" title="Codeforce的注册模式">private</label>
                <input id="public" type="radio" value="" name="p" <% if(!contest || !contest.password) { %>checked<% } %>>
                <label for="public" class="user-blue" title="校内注册模式(需要填表)">public</label>
              </div>
            </td>
          </tr>
          <% } %>
          <tr>
            <th>Description: </th>
            <td>
              <textarea maxlength="100" type="text" rows="5" class="input-xlarge"><% if (contest && clone == 0) { %><%= contest.description %><% } %></textarea>
            </td>
          </tr>
          <tr>
            <th>Announcement: </th>
            <td>
              <textarea maxlength="100" type="text" rows="4" class="input-xlarge"><% if (contest && clone == 0) { %><%= contest.msg %><% } %></textarea>
            </td>
          </tr>
          <tr class="success"><td></td><td style="text-align:right" class="error-text"></td></tr>
        </table>
      </div>
      <div class="span6">
        <table class="table table-condensed" id="addproblems">
          <tr>
            <th style="width:5%;">
              <a href="javascript:;" class="user user-green adbtn">+</a>
            </th>
            <th style="width:20%;">ProbNum</th>
            <th style="width:30%;">Alias</th>
            <th style="width:5%;"></th>
            <th style="text-align:left;">Title</th>
          </tr>
        <% var i = 1; %>
        <% if (contest) { %>
        <% contest.probs.forEach(function(prob) { %>
          <tr>
            <th>
              <a href="javascript:;" class="user user-red adbtn">×</a>
            </th>
            <th><input type="text" class="input-mini" value="<%= prob[0] %>"></th>
            <th><input type="text" class="input-medium" alias="<%= prob[1] %>"></th>
            <th><%= F[i-1] %></th>
            <td></td>
          </tr>
        <% ++i; });} %>
        <% if (i > 1) ProbNum = i-1; for ( ; i <= 26; i++) { %>
          <tr <% if (i > 1) { %>style="display:none"<% } %>>
            <th>
              <a href="javascript:;" class="user user-red adbtn">×</a>
            </th>
            <th><input type="text" class="input-mini"></th>
            <th><input type="text" class="input-medium"></th>
            <th><%= F[i-1] %></th>
            <td></td>
          </tr>
        <% } %>
        </table>
      </div>
    </div>
    <div class="form-actions" align="center">
      <a class="uibtn" href="javascript:;" id="addcontestSubmit">Submit</a>
      <a class="btn-small uibtn" href="javascript:;" onclick="window.location.reload(true)">Reset</a>
    </div>
  </div>
</fieldset>