<!--<html>-->
<fieldset>
  <div><legend>管理</legend></div>
  <div style="float:right;width:55%;">
    <div class="roundbox upload row-fluid">
      <div class="span6">
        <form id="image_form" action="/imgUpload" method="post" enctype="multipart/form-data">
          <span class="success-text">上传图片：</span><br/>
          <input type="file" id="image" name="info"><br/>
          <button class="uibtn" id="image_upload">Upload</button><img id="imgload" src="/img/loading.gif"><br/>
          &nbsp;<span id="imgerr"></span>
        </form>
      </div>
      <div class="span6"><span class="success-text">
        注意：图片大小不得超过1M！<br/>使用方法：在下面编辑器中点击图象，源文件路径：“/img/prob/”+"文件全名"</span></div>
    </div>
    <div class="roundbox upload row-fluid">
    <% if (problem) { %>
      <div class="span6">
        <form id="data_form" action="/dataUpload?pID=<%= problem.problemID %>" method="post" enctype="multipart/form-data">
          <span class="success-text">上传数据：</span><small class="user-gray"></small><br/>
          <input type="file" id="data_in" name="in"><br/>
          <input type="file" id="data_out" name="out"><br/>
          <button class="uibtn" id="data_upload">Upload</button><img id="dataload" src="/img/loading.gif"><br/>
          &nbsp;<span id="dataerr"></span>
        </form>
      </div>
      <div class="span6"><span class="success-text">注意：文件后缀分别必须为".in", ".out"; 而且两个文件名必须保持一致（除了后缀）！<br/>为了规范，请使用数字命名, 如：3.in, 3.out</span></div>
    <% } else { %>
      <h4 class="success-text">请先提交新建题目，然后进入编辑才可上传数据哦. ^-^</h4>
    <% } %>
    </div>
  </div>
  <form class="form-horizontal" method="post">
    <div>
        <h4>Use Special Judge ?</h4>
        <div>
          <input style="margin-left:20px;" type="radio" name="isSpj" value="1"<% if (problem && problem.spj) { %> checked<% } %>>YES
          <input style="margin-left:50px;" type="radio" name="isSpj" value="0"<% if (!problem || problem.spj == 0) { %> checked<% } %>>NO
        </div>
    </div>
  <% if(!problem || user.name == 'admin' || problem.manager == user.name) { %>
    <div>
        <h4>Hide ?</h4>
        <div>
          <input style="margin-left:20px;" type="radio" name="hide" value="1"<% if (problem && problem.hide) { %> checked<% } %>>YES
          <input style="margin-left:50px;" type="radio" name="hide" value="0"<% if (!problem || !problem.hide) { %> checked<% } %>>NO
        </div>
    </div>
  <% } %>
    <div id="simpleInput">
      <div>
        <h4>Title</h4>
        <input type="text" name="Title" <% if(problem) { %>value="<%= problem.title %>"<% } %>>
      </div>
      <div>
        <h4>Time limit</h4>
        <input type="text" class="input-small" name="Timelimit" value="<% if(problem) { %><%= problem.timeLimit %><% } else { %>1000<% } %>"> MS
      </div>
      <div>
        <h4>Memory limit</h4>
        <input type="text" class="input-small" name="Memorylimit" value="<% if(problem) { %><%= problem.memoryLimit %><% } else { %>64000<% } %>"> KB
      </div>
    </div>
    <div class="roundbox" style="margin-top:10px;width:40%;">
      <h3>注意事项：</h3>1、<span class="error-text">复制过来的描述必须全选并点击编辑器中的橡皮擦清除格式！</span><br/>2、必须从txt文件中复制题目描述过来，避免扰乱网页风格，甚至异常！<br/>3、<span class="error-text">变量、重要范围或重要数字</span>必须使用斜体表示，前台CSS样式会突出它们！<br/>4、重要句子请加粗凸显！
    </div>
    <div>
      <h4>Problem Description</h4>
      <textarea name="Description"><% if(problem) { %><%= problem.description %><% } %></textarea>
    </div>
    <div>
      <h4>Input</h4>
      <textarea name="Input"><% if(problem) { %><%= problem.input %><% } %></textarea>
    </div>
    <div>
      <h4>Output</h4>
      <textarea name="Output"><% if(problem) { %><%= problem.output %><% } %></textarea>
    </div>
    <div>
      <h4>Sample Input</h4>
      <textarea rows="10" style="width:80%;" name="sInput"><% if(problem) { %><%= problem.sampleInput %><% } %></textarea>
    </div>
    <div>
      <h4>Sample Output</h4>
      <textarea rows="10" style="width:80%;" name="sOutput"><% if(problem) { %><%= problem.sampleOutput %><% } %></textarea>
    </div>
    <div>
      <h4>Hint</h4>
      <textarea name="Hint"><% if(problem) { %><%= problem.hint %><% } %></textarea>
    </div>
    <div>
      <h4>Source</h4>
      <input type="text" class="input-xlarge" name="Source" <% if(problem) { %>value="<%= problem.source %>" <% } %>>
    </div>
    <div class="form-actions" style="padding-left:0">
      <button type="submit" class="btn btn-large">submit</button>
    </div>
    <% if (problem) { %>
      <input style="display:none;" type="text" name="pid" value="<%= problem.problemID %>">
    <% } %>
  </form>
</fieldset>
