<!--<html>-->
<% var cname = 'Contest'; %>
<% if (type == 3) cname = 'Course'; %>
<fieldset>
  <div>
    <legend id="contest" type="<%= type %>">
      <% if (type == 1) { %>
      DIY
      <% } else if (type == 2) { %>
      VIP
      <% } %> <%= cname%>
    </legend>
  </div>
  <div class="tablebg">
    <div id="pager">
      <%- partial('pager', {page:page, n:n}) %>
      <div class="fr" id="filter">
        <div>
          <button class="checklogin" id="addcontest">Add <%= cname%></button>
        </div>
        <div class="input-prepend">
          <span class="add-on"><i class="icon-search"></i></span>
          <input type="text" id="search" <% if (search) { %>value="<%= search %>"<% } %> title="Title or Manager" placeholder=" title or manager">
        </div>
        <div>
          <button id="fil">Filter</button>
        </div>
        <div>
          <button id="reset">Reset</button>
        </div>
      </div>
    </div>
    <div id="tablediv">
      <table class="table table-cf" id="contest">
        <thead>
          <tr>
            <th style="width:7%;">CID</th>
            <th>Title</th>
            <th style="width:16%;">Start Time</th>
            <th style="width:11%;">Duration</th>
            <th style="width:11%;">Type</th>
            <th style="width:11%;">Manager</th>
          </tr>
        </thead>
        <tbody>
          <% if (!contests || contests.length == 0) { %>
          <tr class="odd">
            <td class="error-text" colspan="6">No Contests are matched.</td>
          </tr>
          <% } else { %>
          <% contests.forEach(function(p, i){ %>
          <% var c, dd, hh, mm, s = ''; %>
          <% if (i % 2 == 1) { %>
          <% c = 'even'; %>
          <% } else { %>
          <% c = 'odd'; %>
          <% } %>
          <% dd = parseInt(p.len/1440, 10); hh = parseInt(p.len%1440/60, 10); mm = p.len%1440%60; %>
          <% if (hh < 10) hh = '0'+hh; %>
          <% if (mm < 10) mm = '0'+mm; %>
          <% if (T[i] <= 0) { %>
            <% if (T[i] + p.len*60000 > 0) { %>
            <% s = 'progress-danger'; %>
            <% } else { %>
            <% s = 'progress-success'; %>
            <% } %>
          <% } %>
          <tr class="<%= c %>">
            <td><%= p.contestID %></td>
            <td style="text-align:left;">
              <% if (type != 2 && p.password && (!user || user.name != p.userName) && !CS[p.contestID]) { %>
              <a href="javascript:;" class="cid" id="<%= p.contestID %>">
              <% } else { %>
              <a href="/onecontest/<%= p.contestID %>">
              <% } %>
                <%= p.title %>
              </a>
              <% if (type == 2) { %>
              <div class="table-tab">
                <% if (p.password && user && user.name == 'admin') { %>
                <a class="standings" href="/regform/<%= p.contestID %>" title="查看报名表">Registration Form</a>
                <% } else if (!s) { %>
                  <% if (R[i]) { %>
                  <span class="user user-green">Registration completed</span>
                  <% } else { %>
                  <% T[i] -= 300000; %>
                    <% if (T[i] < 0) { %>
                    <span class="user-gray">Registration Closed</span>
                    <% } else { %>
                    Until Closed:
                    <span class="user-gray" style="margin-right:20px;"></span>
                      <% if (p.password) { %>
                        <a href="/regform/<%= p.contestID %>" class="register" id="<%= p.contestID %>" left="<%= T[i]/1000 %>">Register &gt&gt</a>
                      <% } else { %>
                        <a href="javascript:;" class="public register" id="<%= p.contestID %>" left="<%= T[i]/1000 %>">Register &gt&gt</a>
                      <% } %>
                    <% } %>
                  <% } %>
                <% } else { %>
                  <a class="standings" href="/onecontest/<%= p.contestID %>#rank" title="查看排名">Standings</a>
                <% } %>
              </div>
              <% } %>
            </td>
            <td>
              <%= p.startTime %>
              <div class="progress progress-striped active <%= s %>">
                <div class="bar"></div>
              </div>
            </td>
            <td>
              <% if (dd > 0) { %><%= dd %>天 <% } %><%= hh %>:<%= mm %>:00
            </td>
            <td>
              <% if (p.password) { %>
              <span class="user-green">Private</span>
              <% } else { %>
              <span class="user-blue">Public</span>
              <% } %>
            </td>
            <td><%= p.userName %></td>
          </tr>
          <% }); %>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</fieldset>