<!--<html>-->
<% var Se = 1; %>
<% if (u && u.college) { Se = u.college; } %>
<% var cen = parseInt((new Date()).getFullYear(), 10)%100; %>
<% var g = cen, c = 1; %>
<% if (u && u.grade) { g = parseInt(u.grade/10, 10); c = u.grade%10; } %>

<div class="jqmSubmit" id="dialog_rc" style="width:400px;height:430px;top:15%;">
  <div class="jqDrag jqtop">比赛报名</div>
  <div class="jqcontent" style="width:390px;height:340px;padding-left:10px;">
    <div>
      <label for="number">学号 *<% if(u && u.privilege) { %><span class="user wrong-text" style="margin-left:20px;">注意：你已认证身份，若改变信息则会擦除之前的认证</span><% } %></label>
      <input <% if(u && u.number) { %>value="<%= u.number %>"<% } %> maxlength="50" type="text" class="jqtext" style="width:370px;" id="number">
    </div>
    <div>
      <label for="realname">真实姓名 *</label>
      <input <% if(u && u.realname) { %>value="<%= u.realname %>"<% } %> maxlength="50" type="text" class="jqtext" style="width:370px;" id="realname">
    </div>
    <div>
      <label>班级 *</label>
      <select style="width:50px;" id="grade">
        <% for (var i = cen-10; i <= cen; i++) { %>
        <% var v = i; if (i < 10) { v = '0'+i; } %>
        <option value="<%= v %>" <% if (g == i) { %>selected<% } %>><%= v %></option>
        <% } %>
      </select>&nbsp;级
      <select style="width:50px;" id="class">
        <% for (var i = 1; i < 10; i++) { %>
        <option value="<%= i %>" <% if (i == c) { %>selected<% } %>><%= i %></option>
        <% } %>
      </select>&nbsp;班
    </div>
    <div>
      <label>性别 *</label>
      <select class="jqtext" style="width:370px;" id="sex">
        <option value="0"<% if (!u || u.sex == '0') { %> selected<% } %>>男</option>
        <option value="1"<% if (u && u.sex == '1') { %> selected<% } %>>女</option>
      </select>
    </div>
    <div>
      <label>学院 *</label>
      <select class="jqtext" style="width:370px;"  id="college">
      <% for (var i = 0; i < C.length; i++) { %>
        <option value="<%= i %>"<% if (Se == i) { %> selected<% } %>>
          <%= C[i] %>
        </option>
      <% } %>
      </select>
    </div>
    <small id="regc_error" class="error-text"></small>
  </div>
  <div class="jqfoot">
    <a class="uibtn" id="regc_submit" href="javascript:;">提交</a>
    <a class="uibtn regc_close" href="javascript:;">取消</a>
  </div>
  <div class="jqResize"></div>
  <i class="regc_close jqclose"></i>
</div>