<!--<html>-->
<fieldset>
<% if (!contest) { %>
  <div><legend>比赛</legend></div>
  <div class="alert alert-error" style="display:none;padding:100px;">
    <h1 align="center">The Contest is not Available!!</h1>
  </div>
<% } else { %>
<% var F = "ABCDEFGHIJKLMNOPQRSTUVWXYZ", probNum = 0; %>
<% var startTime = (new Date(contest.startTime)).getTime() %>
<% var pending = parseInt((startTime - time)/1000, 10); %>
<% var c = '', s = '', ts, ps = '', display = '0'; %>
<% if (pending > 0) { %>
<% c = 'info'; s = 'Pending'; ts = 0; %>
<% } else if (pending + contest.len*60 > 0) { %>
<% c = 'wrong'; s = 'Running'; ts = 1; %>
<% } else { %>
<% c = 'accept'; s = 'Ended'; ts = 2; %>
<% } %>
<% if (ts == 1) { %>
<% ps = 'progress-danger'; %>
<% } else if (ts == 2) { %>
<% ps = 'progress-success'; %>
<% } %>
<% if (contest.type == 3 || (contest.type == 2 && contest.password)) { %>
<% display = '1'; %>
<% } %>
  <div>
    <legend id="contest" ctype="<%= contest.type %>" pageNum="<%= pageNum %>" display="<%= display %>" startTime="<%= startTime/60000 %>" cid="<%= contest.contestID %>" len="<%= contest.len %>" pending="<%= pending %>" status="<%= ts %>" <% if (user && user.name == contest.userName) { %>watch="1"<% } %>>
      比赛
    </legend>
  </div>
  <% contest.probs.forEach(function(prob) { ++probNum; %>
  <span class="cpid hidden" id="<%= prob[0] %>"><%= prob[1] %></span>
  <% }); %>
  <div class="marquee">
    <marquee id="marquee" onmouseout="this.start()" onmouseover="this.stop()" scrollamount="2" scrolldelay="1" behavior="alternate">
      <%= contest.msg %>
    </marquee>
  </div>
  <div>
    <h3 class="problem-header"><%= contest.title %></h3>
  </div>
  <div id="contest-info" style="float:left;text-align:right;">
  </div>
  <br />
  <div id="progress" class="contest_progress progress progress-striped active <%= ps %>">
    <div class="bar"></div>
  </div>
  <div id="thumbnail" class="tabbable thumbnail" style="width:960px;">
    <ul class="nav nav-tabs">
      <li style="padding-left:10px;">
        <a href="#overview" data-target="#overviewtab" data-toggle="tab">
          <span>Overview</span>
        </a>
      </li>
      <li class="hidden">
        <a href="#problem-A" data-target="#problemtab" data-toggle="tab">
          <span>Problem</span>
        </a>
      </li>
      <li class="hidden">
        <a href="#status" data-target="#statustab" data-toggle="tab">
          <span>Status</span>
        </a>
      </li>
      <li class="hidden">
        <a href="#rank" data-target="#ranktab" data-toggle="tab">
          <span>Rank</span>
        </a>
      </li>
    </ul>
    <div class="tab-content">
<!--overviewtab-->
      <div class="tab-pane" id="overviewtab">
        <div style="margin: 0 18%;">
          <table class="table table-head thright" id="overviewtable">
            <tr>
              <th width="20%">Current Time:</th>
              <td id="contest_current"></td>
              <th width="21%">Contest Type:</th>
              <td>
              <% if (contest.password) { %>
                <span class="user-green">Private</span>
              <% } else { %>
                <span class="user-blue">Public</span>
              <% } %>
              </td>
            </tr>
            <tr>
              <th>Start Time:</th>
              <td><%= contest.startTime %>:00</td>
              <th>Contest Status:</th>
              <td class="<%= c %>-text"><%= s %></td>
            </tr>
            <tr>
              <th>End Time:</th>
              <td><%= getDate(new Date(startTime+contest.len*60000)) %></td>
              <th>Manager:</th>
              <td>
                <a href="/user/<%= contest.userName %>">
                  <%= contest.userName %>
                </a>
              </td>
            </tr>
          </table>
        </div>
        <div class="row-fluid" align="center" style="margin-bottom:15px;">
      <% if (user && user.name == contest.userName) { %>
          <%- partial('contestdelete') %>
          <a class="uibtn" href="/addcontest?cID=<%= contest.contestID %>&type=<%= contest.type %>">Edit</a>
          <a class="uibtn" href="javascript:;" id="delete">Delete</a>
      <% } %>
      <% if (s == 'Ended') { %>
        <a href="javascript:;" class="uibtn checklogin" id="clone" title="To create a DIY Contest whit the same problems">Clone this contest</a>
      <% } %>
        </div>
      <% if (ts == 0 && (!user || user.name != contest.userName)) { %>
        <div class="user-gray" style="text-align:center;font-size:1.75em;margin:100px;">
          Before Contest <span id="lefttime"></span>
        </div>
      <% } %>
        <div class="hidden" id="problemsview">
          <div class="tablebg">
            <div id="header">Problems</div>
            <div id="tablediv">
              <table class="table table-cf" id="problems">
                <thead>
                  <tr>
                    <th style="width:10%;">#</th>
                    <th>Name</th>
                    <th style="width:10%;">OP</th>
                    <th style="width:13%;">Solved</th>
                  </tr>
                </thead>
              <% contest.probs.forEach(function(prob, i) { %>
                <tr class="<% if (i % 2 == 0) { %>odd<% } else { %>even<% } %>">
                  <td class="center bold o_index">
                    <%= F[i] %>
                  </td>
                  <td>
                    <a class="splink" href="#problem-<%= F[i] %>">
                      <%= prob[1] %>
                    </a>
                  </td>
                  <td>
                    <span class="act-item">
                      <a class="consubmit" href="javascript:;" pid="<%= prob[0] %>" tname="<%= prob[1] %>">
                        <img src="/img/submit.png" title="Submit" alt="Submit"/>
                      </a>
                    </span>
                  </td>
                  <td class="center o_sol"></td>
                </tr>
              <% }); %>
              </table>
            </div>
          </div>
      <% if(contest.description) { %>
          <div class="des-box"><p><%= contest.description %></p></div>
      <% } %>
        </div>
      </div>
<!--problemtab-->
      <div class="row-fluid tab-pane" id="problemtab">
        <div class="pagination pagination-centered">
          <ul>
          <% contest.probs.forEach(function(prob, i) { %>
            <li class="problemlink">
              <a class="splink" href="#problem-<%= F[i] %>"><%= F[i] %></a>
            </li>
          <% }); %>
          </ul>
        </div>
        <div id="prob-contain" class="istyle">
          <div align="center">
            <h3 class="problem-header" id="problem_title"><span class="user-green"></span>&nbsp;-&nbsp;<span></span></h3>
            <div style="padding-bottom:8px;"><b>Time Limit: </b><font class="limit"></font> MS (Java/Others)&nbsp;&nbsp;&nbsp;&nbsp; <b>Memory Limit: </b><font class="limit"></font> KB (Java/Others)<font class="limit" color="#D14758" style="font-weight:bold;"></font></div>
            <div id="pids">
              <a id="probsubmit" class="uibtn consubmit" href="javascript:;">Submit</a>
              <a class="uibtn" href="javascript:;" res="-1">Status</a>
            <% if (user && user.name == 'admin') { %>
              <a id="rejudge" class="uibtn" href="javascript:;">Rejudge</a>
            <% } %>
            </div>
          </div>
          <div id="content" style="padding:15px 40px;">
          </div>
          <div align="center" style="padding-bottom:20px;">
            <a id="probsubmit" class="uibtn consubmit" href="javascript:;">Submit</a>
            <a class="uibtn" href="javascript:;" res="-1">Status</a>
          </div>
        </div>
      </div>
<!--statustab-->
      <div class="tab-pane" id="statustab" style="margin: 0 10px;">
        <div class="tablebg">
          <div id="pager">
            <div id="list" class="pagination pagination-small fl">
            </div>
            <div class="fr" id="filter">
              <div class="input-prepend">
                <span class="add-on">Name</span>
                <input type="text" id="search" placeholder=" username">
              </div>
              <div class="input-prepend">
                <span class="add-on">Problem</span>
                <select id="pid" style="width:160px;">
                  <option value="nil" selected>All</option>
                <% contest.probs.forEach(function(prob, i) { %>
                  <option value="<%= F[i] %>"><%= F[i] %> - <%= prob[1] %></option>
                <% }); %>
                </select>
              </div>
              <div class="input-prepend">
                <span class="add-on">Verdict</span>
                <select id="result" style="width:160px;">
                  <option value="nil" selected>All</option>
                  <option value="0">Pending</option>
                  <option value="2">Accepted</option>
                  <option value="6">Wrong Answer</option>
                  <option value="4">Time Limit Exceeded</option>
                  <option value="9">Runtime Error</option>
                  <option value="3">Presentation Error</option>
                  <option value="8">Compilation Error</option>
                  <option value="5">Memory Limit Exceeded</option>
                  <option value="7">Output Limit Exceeded</option>
                </select>
              </div>
              <div>
                <button id="fil">Filter</button>
              </div>
              <div>
                <button id="reset">Reset</button>
              </div>
            </div>
          </div>
          <div id="tablediv">
            <table class="table table-cf" id="statustable">
              <thead>
                <tr>
                  <th style="width:7%;">RunID</th>
                  <th style="width:14%;">User</th>
                  <th style="width:10%;">Problem</th>
                  <th>Verdict</th>
                  <th style="width:9%;">Time</th>
                  <th style="width:9%;">Memory</th>
                  <th style="width:8%;">Lang</th>
                  <th style="width:8%;">Length</th>
                  <th style="width:15%;">Submit Time</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
<!--ranktab-->
      <% var mw = 6 + 41 + 181 + 81 + 41 + 61 + 81*probNum; %>
      <div class="tab-pane" id="ranktab" style="margin:0px 10px;">
      <% if (contest.type == 2 && user && user.name == contest.userName) { %>
        <div class="input-append" align="left">
          <input class="input-medium" type="text">
          <button class="btn" id="user-add">Add</button>
        </div>
      <% } %>
        <div class="tablebg" style="width:<%= mw %>px">
          <div id="ranklist" class="pagination pagination-small">
          </div>
          <div id="tablediv">
            <table class="table table-rank tdcenter">
              <thead>
                <tr>
                  <th class="rank">#</th>
                  <th class="name">Name</th>
                  <th class="nick">Nick</th>
                  <th class="solved" title="solved"><span class="user-green">S</span></th>
                  <th class="penalty" title="penalty"><span class="user-green">P</span></th>
                  <% for(var i = 0; i < probNum; i++) { %>
                  <th class="standing_status">
                    <a class="rplink" href="#problem-<%= F[i] %>"><%= F[i] %></a>
                  </th>
                  <% } %>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
<!---->
  </div>
<% } %>
</fieldset>