<!--<html>-->
<fieldset>
  <div>
    <legend id="onecourse" cid="<%= course.courseID %>">
      课程<%= course.courseID %>：<%= course.title %>，共（<%= n %>）题
    </legend>
  </div>
  <div class="tablebg">
    <div id="pager">
      <% if (user) { %>
      <div class="fr" id="filter">
        <% if (user && user.privilege == '82') { %>
        <a href="javascript:;" class="uibtn uibtn-mini" id="rank" cid="<%= course.courseID %>">
          查看排名统计
        </a>
        <% } else { %>
        <a class="uibtn uibtn-mini" href="/ranklist/<%= course.courseID %>">
          查看<%= user.grade %>班排名
        </a>
        <% } %>
      </div>
      <% } %>
    </div>
    <div id="tablediv">
      <table class="table table-cf" style="table-layout:fixed;" id="problemset">
        <thead>
          <tr>
            <th style="width:65px;">#</th>
            <th style="width:90px;">easy?</th>
            <th>Title</th>
            <th style="width:70px;"></th>
            <th style="width:150px;">Source</th>
            <th style="width:150px;">Ratio(AC/submit)</th>
          </tr>
        </thead>
        <tbody>
      <% groups.forEach(function(p){ %>
          <tr class="info">
            <td colspan="6"><%= p.name %></td>
          </tr>
      <% if (!p.pids || p.pids.length == 0) { %>
          <tr class="odd">
            <td class="error-text" colspan="5">No problems in this group.</td>
          </tr>
      <% } else { %>
        <% p.pids.forEach(function(pid, i){ %>
        <% var c, s; %>
        <% if (i % 2 == 1) { %>
        <% c = 'even'; %>
        <% } else { %>
        <% c = 'odd'; %>
        <% } %>
        <% if (R[pid] == 1) { %>
        <% s = 'WA'; %>
        <% } else if (R[pid] == 2) { %>
        <% s = 'AC'; %>
        <% } %>
          <tr class="<%= c %>">
            <td class="center <%= s %>"><%= pid %></td>
            <td>
              <span title="<%= tips[P[pid].easy] %>" class="fl star" style="width:<%= P[pid].easy*80/5 %>px;"></span>
              <span title="<%= tips[P[pid].easy] %>" class="bgstar"></span>
            </td>
            <td>
              <a target="_blank" href="/problem?pid=<%= pid %>&cid=<%= course.courseID %>"><%= P[pid].title %></a>
            <% if (P[pid].tags && P[pid].tags.length > 0) { %>
              <div class="table-tab prob-tag">
              <% P[pid].tags.forEach(function(t, i){ %>
                <% if (i > 0) { %>,<% } %>
                <span title="<%= Pt[t] %>">
                  <%= Tag[t] %>
                </span>
              <% }); %>
              </div>
            <% } %>
            </td>
            <td <% if (s) { %>class="<%= s %>-fill"<% } %>>
              <span class="act-item">
                <a id="gotosubmit" class="checklogin" href="javascript:;" pid="<%= pid %>">
                  <img src="/img/submit.png" title="Submit" alt="Submit"/>
                </a>
              </span>
            </td>
            <td class="ellipsis">
              <small class="user-gray" title="<%= P[pid].source %>"><%= P[pid].source %></small>
            </td>
          <% var res = '0.00'; %>
          <% if (P[pid].submit > 0) res = (P[pid].AC/P[pid].submit*100).toFixed(2); %>
            <td class="center">
              <%= res %>%(<a href="/status?pid=<%= pid %>&result=2"><%= P[pid].AC %></a>/<a href="/status?pid=<%= pid %>"><%= P[pid].submit %></a>)
            </td>
          </tr>
        <% }); %>
      <% } %>
      <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</fieldset>
