<!--<html>-->
<% var F = "ABCDEFGHIJKLMNOPQRSTUVWXYZ", probNum = 0; %>
<fieldset id="Contest">
  <div><legend>比赛</legend></div>
<% if (!contest) { %>
  <div class="alert alert-error" style="display:none;padding:100px;">
    <h1 align="center">The Contest is not Available!!</h1>
  </div>
<% } else { %>
  <% contest.probs.forEach(function(prob) { ++probNum; %>
  <span class="cpid hidden" id="<%= prob[0] %>"><%= prob[1] %></span>
  <% }); %>
  <div>
    <marquee id="marquee" class="user-red" style="font-weight:bold;" onmouseout="this.start()" onmouseover="this.stop()" scrollamount="2" scrolldelay="1" behavior="alternate" height="25"><%= contest.msg %></marquee>
  </div>
  <div>
    <h3 class="problem-header"><%= contest.title %></h3>
  </div>
  <div id="contest-info" style="float:left;text-align:right;"></div><br />
  <div id="progress" class="progress progress-striped active" style="margin:0;height:13px;">
    <div class="bar" style="width:100%;z-index:100;"></div>
  </div>
  <div style="text-align:right;"></div>
  <div id="thumbnail" class="tabbable thumbnail">
    <ul class="nav nav-tabs">
      <li style="padding-left:10px;">
        <a href="#overview" data-target="#overviewtab" data-toggle="tab"><span>Overview</span></a>
      </li>
      <li class="hidden">
        <a class="problembutton" href="#problem/A" data-target="#problemtab" data-toggle="tab"><span>Problem</span></a>
      </li>
      <li class="hidden">
        <a href="#status" data-target="#statustab" data-toggle="tab"><span>Status</span></a>
      </li>
      <li class="hidden">
        <a href="#rank" data-target="#ranktab" data-toggle="tab"><span>Rank</span></a>
      </li>
    </ul>
    <div class="tab-content">
<!--overviewtab-->
      <div class="tab-pane" id="overviewtab" curl="<%= curl %>" ct="<%= contest.type %>" len="<%= contest.len %>" cid="<%= contest.contestID %>" <% if (contest.password) { %>psd="1"<% } %>>
        <div style="margin: 0 18%;">
          <table class="table table-head thright" id="overviewtable">
            <tr>
              <th style="width:20%;">Current Time:</th>
              <td id="current"></td>
              <th style="width:21%;">Contest Type:</th>
              <td>
              <% if (contest.password) { %>
                <font color="green">Private</font>
              <% } else { %>
                <font color="#1111DD">Public</font>
              <% } %>
              </td>
            </tr>
            <tr>
              <th>Start Time:</th>
              <td><%= contest.startTime %>:00</td>
              <th>Contest Status:</th>
              <td></td>
            </tr>
            <tr>
              <th>End Time:</th>
              <td></td>
              <th id="con_manager">Manager:</th>
              <td><%= contest.userName %></td>
            </tr>
          </table>
        </div>
        <div <% if(!contest.password || (user && user.name == contest.userName)) { %>id="btn-group"<% } %> class="row-fluid" align="center" style="margin-bottom:15px;">
      <% if (user && user.name == contest.userName) { %>
          <%- partial('contestdelete') %>
          <a class="uibtn" href="/addcontest?cID=<%= contest.contestID %>&type=<%= contest.type %>">Edit</a>
          <a class="uibtn" href="javascript:;" id="delete">Delete</a>
      <% } %>
        </div>
        <div class="hidden" id="problemsview" style="margin:0 15%;">
          <div class="tablebg">
            <div id="header">Problems</div>
            <div id="tablediv">
              <table class="table table-cf" id="problems">
                <thead>
                  <tr>
                    <th style="width:10%;">#</th>
                    <th>Name</th>
                    <th style="width:10%;"></th>
                    <th style="width:13%;">Solved</th>
                  </tr>
                </thead>
              <% contest.probs.forEach(function(prob, id) { %>
                <tr class="<% if (id % 2 == 0) { %>odd<% } else { %>even<% } %>">
                  <td class="center" style="font-weight:bold;"><%= F[id] %></td>
                  <td><a class="splink" href="#problem/<%= F[id] %>"><%= prob[1] %></a></td>
                  <td>
                    <span class="act-item">
                      <a class="consubmit" href="javascript:;" pid="<%= prob[0] %>" tname="<%= prob[1] %>">
                        <img src="/img/submit.png" title="Submit" alt="Submit"/>
                      </a>
                    </span>
                  </td>
                  <td class="center"></td>
                </tr>
              <% }); %>
              </table>
            </div>
          </div>
      <% if(contest.description) { %>
          <div class="des-box"><p><%= contest.description %></p></div>
      <% } %>
        </div>
      </div>
<!--problemtab-->
      <div class="row-fluid tab-pane" id="problemtab">
        <div class="pagination pagination-centered">
          <ul>
          <% contest.probs.forEach(function(prob, id) { %>
            <li class="problemlink"><a class="splink" href="#problem/<%= F[id] %>"><%= F[id] %></a></li>
          <% }); %>
          </ul>
        </div>
        <div id="prob-contain" class="istyle">
          <div align="center">
            <h3 class="problem-header" id="problem_title"><span class="user-green"></span>&nbsp;-&nbsp;<span></span></h3>
            <div style="padding-bottom:8px;"><b>Time Limit: </b><font class="limit"></font> MS (Java/Others)&nbsp;&nbsp;&nbsp;&nbsp; <b>Memory Limit: </b><font class="limit"></font> KB (Java/Others)<font class="limit" color="#D14758" style="font-weight:bold;"></font></div>
            <div id="pids">
              <a id="probsubmit" class="uibtn consubmit" href="javascript:;">Submit</a>
              <a class="uibtn" href="javascript:;" res="-1">Status</a>
            <% if (user && (user.name == 'admin' || contest.userName == user.name)) { %>
              <a id="rejudge" class="uibtn" href="javascript:;">Rejudge</a>
            <% } %>
            </div>
          </div>
          <div id="content" style="padding:15px 40px;">
          </div>
          <div align="center" style="padding-bottom:20px;">
            <a id="probsubmit" class="uibtn consubmit" href="javascript:;">Submit</a>
            <a class="uibtn" href="javascript:;" res="-1">Status</a>
          </div>
        </div>
      </div>
<!--statustab-->
      <div class="tab-pane" id="statustab" style="margin: 0 10px;">
        <div class="tablebg">
          <div id="pager" class="pagination pagination-small">
            <div style="float:left;">
              <ul>
              </ul>
            </div>
            <div style="float:right;" id="filter">
              <div class="input-prepend">
                <span class="add-on">Name</span>
                <input type="text" id="search" placeholder=" username">
              </div>
              <div class="input-prepend">
                <span class="add-on">Problem</span>
                <select id="pID" style="width:160px;">
                  <option value="-1" selected>All</option>
                <% contest.probs.forEach(function(prob, id) { %>
                  <option value="<%= F[id] %>"><%= F[id] %> - <%= prob[1] %></option>
                <% }); %>
                </select>
              </div>
              <div class="input-prepend">
                <span class="add-on">Verdict</span>
                <select id="what" style="width:160px;">
                  <option value="-1" selected>All</option>
                  <option value="0">Pending</option>
                  <option value="2">Accepted</option>
                  <option value="6">Wrong Answer</option>
                  <option value="4">Time Limit Exceeded</option>
                  <option value="9">Runtime Error</option>
                  <option value="3">Presentation Error</option>
                  <option value="8">Compilation Error</option>
                  <option value="5">Memory Limit Exceeded</option>
                  <option value="7">Output Limit Exceeded</option>
                </select>
              </div>
              <div>
                <button id="filter">Filter</button>
              </div>
              <div>
                <button id="reset">Reset</button>
              </div>
            </div>
          </div>
          <div id="tablediv">
            <table class="table table-cf" id="statustable">
              <thead>
                <tr>
                  <th style="width:7%;">RunID</th>
                  <th style="width:14%;">User</th>
                  <th style="width:10%;">Problem</th>
                  <th>Verdict</th>
                  <th style="width:9%;">Time</th>
                  <th style="width:9%;">Memory</th>
                  <th style="width:8%;">Lang</th>
                  <th style="width:8%;">Length</th>
                  <th style="width:15%;">Submit Time</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
<!--ranktab-->
      <% var mw = 6 + 41 + 171 + 56 + 71 + 71*probNum; %>
      <div class="tab-pane" id="ranktab" style="margin:0px 10px;">
      <% if (contest.type == 2 && user && user.name == contest.userName) { %>
        <div class="input-append" align="left">
          <input class="input-medium" type="text">
          <button class="btn" id="user-add">Add</button>
        </div>
      <% } %>
        <div class="tablebg" style="width:<%= mw %>px;">
          <div id="header">Standings</div>
          <div id="tablediv">
            <table class="table table-rank tdcenter">
              <thead>
                <tr>
                  <th class="rank">Rank</th>
                  <th class="name">Name</th>
                  <th class="solved">Solved</th>
                  <th class="penalty">Penalty</th>
                  <% for(var i = 0; i < probNum; i++) { %>
                  <th class="standing_status">
                    <a href="#problem/<%= F[i] %>"><%= F[i] %></a>
                  </th>
                  <% } %>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
<!---->
  </div>
<% } %>
</fieldset>