<!--<html>-->
<fieldset>
  <div>
    <legend id="onecourse" cid="<%= course.courseID %>">
      课程<%= course.courseID %>：<%= course.title %>，共（<%= total %>）题
    </legend>
  </div>
  <div class="tablebg">
    <div id="pager">
      <%- partial('pager', {page:page, n:n}) %>
      <% if (user) { %>
      <div class="fr" id="filter">
        <% if (user && user.privilege == '82') { %>
        <a href="javascript:;" class="uibtn uibtn-mini" id="rank" cid="<%= course.courseID %>">
          查看排名统计
        </a>
        <% } else { %>
        <a class="uibtn uibtn-mini" href="/ranklist/<%= course.courseID %>">
          查看<%= user.grade %>班排名
        </a>
        <% } %>
      </div>
      <% } %>
    </div>
    <div id="tablediv">
      <table class="table table-cf" style="table-layout:fixed;" id="problemset">
        <thead>
          <tr>
            <th width="80">prob#</th>
            <th>Title</th>
            <th width="230">Source</th>
            <th width="80"></th>
            <th width="160">Ratio(AC/submit)</th>
          </tr>
        </thead>
        <tbody>
        <% if (!problems || problems.length == 0) { %>
          <tr class="odd">
            <td class="error-text center" colspan="5">No Problems are matched.</td>
          </tr>
        <% } else { %>
        <% problems.forEach(function(p, i){ %>
        <% var c, s; %>
        <% if (i % 2 == 1) { %>
        <% c = 'even'; %>
        <% } else { %>
        <% c = 'odd'; %>
        <% } %>
        <% if (R[p.problemID] == 1) { %>
        <% s = 'WA'; %>
        <% } else if (R[p.problemID] == 2) { %>
        <% s = 'AC'; %>
        <% } %>
          <tr class="<%= c %>">
            <td class="center <%= s %>"><%= p.problemID %></td>
            <td>
              <a target="_blank" href="/problem?pid=<%= p.problemID %>&cid=<%= course.courseID %>"><%= p.title %></a>
            <% if (p.tags && p.tags.length > 0) { %>
              <div class="table-tab prob-tag">
              <% p.tags.forEach(function(t, i){ %>
                <% if (i > 0) { %>,<% } %>
                <span title="<%= Pt[t] %>">
                  <%= Tag[t] %>
                </span>
              <% }); %>
              </div>
            <% } %>
            </td>
            <td class="ellipsis">
              <small class="user-gray" title="<%= p.source %>"><%= p.source %></small>
            </td>
            <td <% if (s) { %>class="<%= s %>-fill"<% } %>>
              <span class="act-item">
                <a id="gotosubmit" class="checklogin" href="javascript:;" pid="<%= p.problemID %>">
                  <img src="/img/submit.png" title="Submit" alt="Submit"/>
                </a>
              </span>
            </td>
          <% var res = '0.00'; %>
          <% if (p.submit > 0) res = (p.AC/p.submit*100).toFixed(2); %>
            <td class="center">
              <%= res %>%(<a href="/status?pid=<%= p.problemID%>&result=2"><%= p.AC %></a>/<a href="/status?pid=<%= p.problemID %>"><%= p.submit %></a>)
            </td>
          </tr>
        <% }); %>
        <% } %>
        </tbody>
      </table>
    </div>
  </div>
</fieldset>
