<!--<html>-->
<% var pvl = false; %>
<% if (user && user.privilege && parseInt(user.privilege) > 80) { pvl = true; } %>
<fieldset>
  <div>
    <legend id="regform" type="<%= type %>">报名列表</legend>
  </div>
  <h3 class="problem-header"><%= contest.title %></h3>
  <div align="center" style="margin-bottom:10px;width:100%;height:25px;">
  <% if (left > 0) { %>
    <span class="error-text">距离报名结束还有：</span><span class="error-text" id="leftTime" left="<%= left/1000 %>"></span><img src="/img/hot.gif"/>
  <% } else { %>
    <span class="success-text">报名已结束</span>
  <% } %>
  <% if (pvl) { %>
    <a style="margin-left:10px;" href="javascript:;" id="submit" class="uibtn">提交审核</a>
  <% } %>
  <a class="user" href="/onecontest/<%= contest.contestID %>">点击进入比赛页面</a>
  </div>
  <div class="tablebg">
    <div id="pager">
      <%- partial('pager', {page:page, n:n}) %>
      <div class="fr" id="filter">
        <div>
        <% if (left > 0 && (!user || user.name != 'admin')) { %>
          <a href="javascript:;" class="uibtn uibtn-mini user-green" id="signup">我要报名</a>
          <span class="user user-green">（注：重复报名可修改信息并重新审核）</span>
        <% } %>
        </div>
        <div class="input-prepend">
          <span class="add-on"><i class="icon-search"></i></span>
          <input type="text" id="search" <% if (search) { %>value="<%= search %>"<% } %> placeholder=" 用户名 or 姓名" title="用户名或姓名">
        </div>
        <div>
          <a href="javascript:;" class="uibtn uibtn-mini" id="fil">Filter</a>
        </div>
        <div>
          <a href="javascript:;" class="uibtn uibtn-mini" id="reset">Reset</a>
        </div>
      </div>
    </div>
    <div id="tablediv">
      <table class="table table-cf tdcenter" id="regform">
        <thead>
          <tr>
            <th style="width:5%;">RID</th>
            <th style="width:15%;">用户名</th>
            <th style="width:10%;">学号</th>
            <th style="width:10%;">姓名</th>
            <th style="width:5%;">性别</th>
            <th style="width:19%;">学院</th>
            <th style="width:8%;">班别</th>
            <th>报名时间</th>
          <% if (pvl) { %>
            <th style="width:5%;">
              <span id="accept" class="success-text myhover" title="全选">通过</span>
            </th>
            <th style="width:5%;">
              <span id="reject" class="error-text myhover" title="全选">拒绝</span>
            </th>
          <% } else { %>
            <th style="width:10%;">状态</th>
          <% } %>
          </tr>
        </thead>
        <tbody>
        <% if (!regs || regs.length == 0) { %>
          <% var cs = 9; %>
          <% if (pvl) ++cs; %>
          <tr class="odd">
            <td class="error-text center" colspan="<%= cs %>">No Records are found.</td>
          </tr>
        <% } else { %>
          <% regs.forEach(function(p, i){ %>
          <% var c, sex = '男', status = 'Accepted', sc = 'accept-text'; %>
          <% if (p.sex == '1') { %>
          <% sex = '女'; c = 'girllight'; %>
          <% } else if (i % 2 == 1) { %>
          <% c = 'even'; %>
          <% } else { %>
          <% c = 'odd'; %>
          <% } %>
          <% if (p.status == '0') { %>
          <% status = '等待审核...'; sc = 'info-text'; %>
          <% } else if (p.status == '1') { %>
          <% status = 'Rejected'; sc = 'wrong-text'; %>
          <% } %>
          <tr class="<%= c %>">
            <td><%= p.regID %></td>
            <td>
              <a class="user user-<%= UC[p.user] %>" href="/user/<%= p.user %>" title="<%= UT[p.user] %>">
                <%= p.user %>
              </a>
            </td>
            <td><%= p.number %></td>
            <td><%= p.realname %></td>
            <td><%= sex %></td>
            <td><%= C[p.college] %></td>
            <td><%= p.grade %></td>
            <td><%= p.regTime %></td>
            <% if (pvl) { %>
              <% if (p.status != '0') { %>
              <td colspan="2" class="bold <%= sc %>"><%= status %></td>
              <% } else { %>
              <td><input type="checkbox" rid="<%= p.regID %>"/></td>
              <td><input type="checkbox" rid="<%= p.regID %>"/></td>
              <% } %>
            <% } else { %>
              <td class="bold <%= sc %>"><%= status %></td>
            <% } %>
          </tr>
          <% }); %>
        <% } %>
        </tbody>
      </table>
    </div>
  </div>
</fieldset>
