<!--<html>-->
<fieldset>
	<div><legend>源码</legend></div>
<% if (!solution) { %>
	<div class="alert alert-error" style="padding:100px;display:none;">
		<h1 align="center">The Solution is not Available!!</h1>
	</div>
<% } else { %>
	<% if (flg) { %>
	<% var lang = 'c'; %>
	<% if (solution.language == 2) lang = 'cpp'; else if (solution.language == 3) lang = 'java'; %>
	<pre class="brush: <%= lang %>;">/*
* this code is made by <%= solution.userName %>
* Problem: <%= solution.problemID %>
* Verdict: <span id="verdict" res="<%= solution.result %>"></span>
* Submission Date: <%= solution.inDate %>
* Time: <%= solution.time %> MS
* Memory: <%= solution.memory %> KB
*/
<%= solution.code %></pre>
	<% } else { %>
	<div class="alert alert-error" style="padding:100px;display:none;">
		<h1 align="center">Sorry, You have no permission to see this code.</h1>
	</div>
	<% } %>
<% } %>
</fieldset>

