<!--<html>-->
<fieldset>
<% if (!solution) { %>
  <div class="alert alert-error" style="padding:100px;display:none;">
    <h1 align="center">The Solution is not Available!!</h1>
  </div>
<% } else { %>
  <% var lang = 'c'; %>
  <% if (solution.language == 2) lang = 'cpp'; else if (solution.language == 3) lang = 'java'; %>
  <div><legend>源码</legend></div>
  <pre class="brush: <%= lang %>;">/*
* this code is made by <%= solution.userName %>
* Verdict: <span id="verdict" res="<%= solution.result %>"></span>
* Submission Date: <%= solution.inDate %>
* Time: <%= solution.time %> MS
* Memory: <%= solution.memory %> KB
*/
<%= solution.code %></pre>
<% } %>
</fieldset>

