<!--<html>-->
<% var img = 'img/avatar/%3Ddefault%3D/', imgType = 'jpeg'; %>
<% if (user.imgType) { img = 'img/avatar/'+user.name+'/'; imgType = user.imgType; } %>
<fieldset>
  <div><legend>修改头像</legend></div>
  <div class="avatar_setting">
    <div class="left">
      <img src="<%= img %>1.<%= imgType %>"/>
    </div>
    <div class="right fixed">
      <div class="avatar_b">
        <div class="img"><img src="<%= img %>2.<%= imgType %>"/></div>150X150像素
      </div>
      <div class="avatar_m">
        <div class="img"><img src="<%= img %>3.<%= imgType %>"/></div>75X75像素
      </div>
      <div class="avatar_s">
        <div class="img"><img src="<%= img %>4.<%= imgType %>"/></div>50X50像素
      </div>
    </div>
    <div id="choosebox" class="ellipsis">点击选择图片</div>
  </div>
  <form class="form-horizontal" id="image_form" action="/avatarUpload" method="post" enctype="multipart/form-data">
    <input class="hide" type="file" id="file" name="img" />
    <div class="form-actions">
      <button class="btn btn-large" id="upload">上传头像</button>
      <span id="imgerr"></span><img class="hide" id="imgload" height="14px" width="14px" src="/img/loading.gif">
    </div>
  </form>
</fieldset>